
/*=======================================================
			THEME STYLING START
========================================================*/
* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #FFF;
	height: 100%;
	width: 100%;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	height: 100%;
	min-height: 100%;
	position: relative;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}
/*=======================================================
			WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
			HEADINGS
========================================================*/
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: #3aa2b2;
}
h1 {
	font-size: 65px;
}
h2 {
	font-size: 45px;
	font-weight: bold;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 14px;
	font-weight: bold;
}
p {
	color: #666666;
	font-size: 14px;
	line-height: 24px;
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #757575;
}
/*=======================================================
			SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
/*=======================================================
			BUTTON
========================================================*/
.btn {
	background: #3aa2b2;
	color: #fff;
	border: 2px solid #3aa2b2;
	border-radius: 0px;
	display: inline-block;
	padding: 12px 30px;
	min-width: 200px;
	margin-top: 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn:hover {
	background: none;
	color: #2a7c89;
	border-color: #2a7c89;
}
.btn-1 {
	background: none;
	color: #3aa2b2;
}
.btn-1:hover {
	background: #2a7c89;
	color: #fff;
}
.form-control {
	box-shadow: none;
	border: 1px solid #f7f7f7 !important;
	border-radius: 0px;
	height: 40px;
}
.form-control:focus {
	border: none;
	box-shadow: none;
}

/*=======================================================
			MARGIN 20px
========================================================*/
.margin-r-20 {
	margin-right: 20px;
}
.margin-l-20 {
	margin-left: 20px;
}
.margin-t-20 {
	margin-top: 20px;
}
.margin-b-20 {
	margin-bottom: 20px;
}
/*=======================================================
			MARGIN 40px
========================================================*/
.margin-r-40 {
	margin-right: 40px;
}
.margin-l-40 {
	margin-left: 40px;
}
.margin-t-40 {
	margin-top: 40px;
}
.margin-b-40 {
	margin-bottom: 40px;
}
/*=======================================================
			MARGIN 80px
========================================================*/
.margin-r-80 {
	margin-right: 80px;
}
.margin-l-80 {
	margin-left: 80px;
}
.margin-t-80 {
	margin-top: 80px;
}
.margin-b-80 {
	margin-bottom: 80px;
}
/*=======================================================
			PADDING
========================================================*/
.padding-r-20 {
	padding-right: 20px !important;
}
.padding-r-80 {
	padding-right: 80px !important;
}
.padding-l-20 {
	padding-left: 20px;
}
.padding-t-20 {
	padding-top: 20px;
}
.padding-t-50 {
	padding-top: 50px;
}
.padding-b-20 {
	padding-bottom: 20px;
}
.padding-b-50 {
	padding-bottom: 50px;
}
.no-margin {
	margin: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-padding-b {
	padding-bottom: 0px !important;
}
.no-margin-t {
	margin-top: 0px !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
.padding-l-60 {
	padding-left: 60px;
}
/*=======================================================
			TITTLE
========================================================*/
.tittle {
	text-align: left;
	width: 100%;
	position: relative;
	margin-bottom: 70px;
}
.tittle h2 {
	text-align: left;
	line-height: 55px;
}
/*=======================================================
			HEADER
========================================================*/
header {
	display: inline-block;
	position: relative;
	width: 100%;
	z-index: 999;
	line-height: 0px;
	min-height: 80px;
	background: #fff;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1)
}
header .logo {
	display: inline-block;
	float: left;
	transform: scale(2);
	text-align: center;
	margin: 18px 0;
}
header nav {
	display: inline-block;
	float: right;
	position: relative;
	z-index: 999;
	min-height: 60px;
}
header nav li a {
	padding: 30px 10px;
	padding-right: 20px;
	margin: 0;
	border-color: transparent;
	text-decoration: none;
	line-height: 20px;
	text-transform: uppercase;
	color: #696969;
	float: left;
	letter-spacing: 0px;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
header nav .ownmenu .indicator {
	margin-left: 5px;
	display: none;
}
header nav li a:hover {
	color: #3ab286;
}
header nav li {
}
header .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background: #ffdd00;
	color: #222222;
}
.ownmenu > li:hover > a, .ownmenu > li.active > a {
}
header .ownmenu ul.dropdown {
	padding-bottom: 0px;
	background: #fff;
}
header .ownmenu ul.dropdown li a {
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	line-height: 38px;
	padding: 0px;
	padding: 0 20px;
	background: none;
	color: #000;
	font-size: 12px;
	display: inline-block;
	width: 100%;
}
header .ownmenu ul.dropdown li a:hover {
	background: #3aa2b2;
	color: #fff;
}
header .ownmenu ul.dropdown li:nth-last-child(1) a {
}
.ownmenu > li:hover > a, .ownmenu > li.active > a {
	color: #3aa2b2;
}

ul.dropdown {
}
ul.dropdown li {
	padding: 0px;
}
ul.dropdown li:hover {
	background: none
}
.white-bg {
	background: #fff !important;
}
.fix-nav-space {
	margin-top: 80px;
}

/*=======================================================
			HOME_BANNER
========================================================*/
#banner {
	background-size: cover;
	overflow: hidden;
}
.main-bnr {
	position: relative;
	height: 100%;
}
.content-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 10%;
}
.content-container>div {
	min-width: 50%;
	height: auto;
}
#mainvideo {
	z-index: -1;
	transform: scale(1.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main-bnr-text {
	min-width: 50%;
	text-align: left;
	margin-left: 15%;
}

.main-bnr-text h1 {
	color: #2a7e8b;
	font-weight: bold;
	margin-bottom: 50px;
}
.main-bnr-text .btn {
	background-color: #3aa2b2;
	border-color: transparent;
	color: #fff;
	margin-top: 50px;
}
.main-bnr-text p {
	color: #000;
	font-size: 2rem;
	font-weight: bold;
}
.go-down {
	position: absolute;
	bottom: 40px;
	left: 0px;
	right: 0px;
	z-index: 99;
	text-align: center;
	line-height: 50px;
}
.go-down a {
	height: 50px;
	width: 50px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	font-size: 20px;
	box-shadow: 0 0px 10px rgba(0,0,0,0.5)
}

/*=======================================================
			SUB BANNER
========================================================*/
.sub-banner .overlay {
	padding: 100px 0;
	text-align: center;
}
.sub-banner {
	background-color:rgba(58, 162, 178, 1);
	margin-top: -5px;
}

.sub-banner h3 {
	margin-top: 5%;
	margin-bottom: 10px;
	letter-spacing: 3px;
	margin-bottom: 10px;
	font-size: 34px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
.sub-banner p {
	letter-spacing: 3px;
	color: #fff;
}
/*=======================================================
			CONTENT
========================================================*/
.content {
	background: #ffffff;
	margin-top: -5px;
}
/*=======================================================
			block_SERVICES
========================================================*/
#services {
	position: relative;
	z-index: 99;
	margin-bottom: 10%;
}
#services ul {
	margin-bottom: 0px;
	display: flex;
}
#services li {
	background: #3ab286;
	padding: 20px;
	color: #fff;
	text-align: center;
	font-size: 50px;
	padding: 40px 40px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#services li h5 {
	font-weight: bold;
	color: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#services li p {
	color: #fff;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
#services li:nth-child(1) {
	background: #3aa2b2;
}
#services li:nth-child(2) {
	background: #318f9d;
}
#services li:nth-child(3) {
	background: #3aa2b2;
}
#services li:nth-child(4) {
	background: #318f9d;
}
#services li:hover {
	color: #333333;
	background: #fff;
}
#services li:hover p {
	color: #333333;
}
#services li:hover h5 {
	color: #333333;
}
#services li:hover .icon {
	color: #3aa2b2 !important;
}
#services .tittle-2 {
	margin-bottom: 20px;
}
/*=======================================================
			block_ABOUT
========================================================*/
#aboutus .about-bg {
	width: 100%;
	min-height: 600px;
	background-image: url(../images/about-bg.png);
	background-size: cover;
	display: flex;
}
#aboutus .about-bg div {
	max-width: 50%;
	align-items: center;
	display: flex;
}
.about-logo img {
	width: 100%;
	margin-left: 15%;
}
.about-content {
	flex-direction: column;
	justify-content: center;
	padding-right: 10%;
}
.about-content h2 {
	width: 100%;
	margin-bottom: 5%;
}
.about-content p {

}
/*=======================================================
			block_founder
========================================================*/
#founder {
	padding: 100px 0;
	margin-bottom: 5%;
}

#founder h2 {
	margin-top: 0;
	margin-bottom: 10%;
}
#founder .slide h4 {
	font-weight: bold;
	margin-top: 40px;
	
}
#founder .slide {
	text-align: center;
}
#founder .slide img {
	max-height: 350px;
	object-fit: cover;
	object-position: center center;
}
#founder .slide .bottomCenter {
	object-position: bottom center;
}
#founder .owl-dots {
	position: absolute;
	left: 35%;
}
/*=======================================================
			block_VISIT US
========================================================*/
.visit {
	background-color: #f7f7f7;
	margin-top: 10%;
}
.visit .container {
	padding: 5% 0; 
	display: flex;

}
.visit .container .visit-img {
	flex-basis: 60%;
	max-width: 60%;
	overflow: hidden;
}
.visit .container .visit-img img {
	width: 100%;
	padding-right: 10%;
}
.visit .container .visit-content {
	flex-basis: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.visit-content h2 {
	margin-bottom: 10%;
}
.visit-content i {
	font-size: 25px;
	color: 	#3aa2b2;
	margin-right: 10px;
	margin-top: 10px;
}
/*=======================================================
			block_GOOGLE MAP
========================================================*/
.mapouter{
	position:relative;
	text-align:right;
	width:100%;
	height:400px;
}
.gmap_canvas {
	overflow:hidden;
	background:none!important;
	width:100%;
	height:400px;
}
.gmap_iframe {
	height:400px!important;
}
/*=======================================================
			block_WHY CHOOSE US
========================================================*/
#why-choose {
	padding: 80px 0;
	padding-bottom: 0px;
}
#why-choose ul li {
	margin-bottom: 30px;
	padding-left: 30px;
}
#why-choose ul li p {
	font-size: 14px;
	line-height: 24px;
}
#why-choose ul li:before {
	content: '\f05d';
	font-family: 'FontAwesome';
	font-size: 20px;
	left: 0px;
	position: absolute;
}
#why-choose img {
	display: inline-block;
}

#why-choose h2 {
}

#why-choose h6 {
}
/*=======================================================
			block_DEPARTMENT
========================================================*/

.department {
	background: #fcfcfc;
	text-align: center;
}
.department .tab-content .tittle {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}
.department .tab-content .tittle h2 {
	text-align: left;
	width: 100%;
	font-weight: 300;
	letter-spacing: 2px;
}
.department .tab-content {
	display: inline-block;
	width: 100%;
	min-height: 745px;
}
.department .nav-tabs {
	background: rgb(58,162,178);
	background: linear-gradient(127deg, rgba(58,162,178,1) 27%, rgba(49,143,157,1) 100%);
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: none;
	padding: 36px 0;
	height: 100%;
	position: relative;
}
.department .nav-tabs li {
	width: 100%;
	margin: 0px;
	border: none;
}
.department .nav-tabs li a {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
	margin: 0px;
	border: none;
	border-radius: 0px;
	padding: 35px 0;
	border: none !important;
	border-bottom: 1px solid rgba(255,255,255,0.3) !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none;
}
.department .nav-tabs li:hover a {
	background: #fff;
	color: #333333;
}
.department .nav-tabs li.active a:before {
	content: '\f0d9';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 80px;
	left: -20px;
	top: -10px;
	color: #fff;
	z-index: 8;
}
.department .nav-tabs li.active a {
	color: #333333;
}
.department img {
	width: 100%;
}
.department .dep-sec-txt {
	text-align: left;
}
/*====	OVERVIEW BG	====*/
.department .depart-bg-over {
	background: url(../images/overview.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
	height: 100%;
}
/*====	preventative BG	====*/
.department .dentel-bg {
	background: url(../images/dental-bg-img.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
	height: 100%;
}
/*====	restorative BG	====*/
.department .cardio-bg {
	background: url(../images/restorative-dentistry.jpeg) center center no-repeat;
	position: relative;
	background-size: cover;
	height: 100%;
}
/*====	oral surgery BG	====*/
.department .for-dis-bg {
	background: url(../images/surgery.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
	height: 100%;
}
/*====	cosmetic BG	====*/
.department .opth-bg {
	background: url(../images/cosmetic-dentistry.jpeg) center center no-repeat;
	position: relative;
	background-size: cover;
	height: 100%;
}
/*====	orthodontics BG	====*/
.department .emer-bg {
	background: url(../images/orthodontics.jpeg) center center no-repeat;
	position: relative;
	background-size: cover;
	height: 100%;
}

.department .img-bg-dep {
	position: absolute;
	height: 100%;
}
.department .ab-cnter {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	z-index: 999;
	margin: 0 auto;
}
.department .dep-sec-img {
	float: left;
	width: 37%;
}
.department .dep-sec-txt {
	float: right;
	width: 37%;
	padding: 0 40px;
}
.department .dep-sec-nav {
	width: 26%;
}
/*=======================================================
			SERVICES_OUR SERVICES
========================================================*/
.service-us {
	min-height: 600px;
	background: url(../images/service-bg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.service-row {
	display: flex;
	flex-wrap: wrap;
}

.service-row i {
	color: #3aa2b2; 
}
.service-us  .text-container {
	margin-top: 5%;
}
.service-us  .text-container h3 {
	color: #1f626d;
	font-size: 20px;
	margin-top: 0;
}

/*=======================================================
			SERVICES_ALL
========================================================*/

.dep-detail-page .qoute {
	position: absolute;
	top: 30%;
	width: 360px;
	background: rgba(255,255,255,0.8);
	padding: 30px;
	right: 30px;
	color: #696969;
	line-height: 24px;
}
.dep-detail-page .qoute i {
	color: #3dc5df;
	margin-right: 10px;
}
.dep-detail-page .qoute h6 {
	margin: 0px;
	margin-top: 40px;
}
.dep-detail-page .qoute p {
	font-weight: bold;
	font-size: 18px;
}
.dep-detail-page .img-single {
	position: relative;
}
.dep-detail-page {
	padding: 120px 0;
}
.dep-detail-page h5 {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
.dep-detail-page .detail-sec {
	margin-top: 30px;
}
.dep-detail-page .detail-sec h6 {
	margin-top: 30px;
	margin-bottom: 15px;
}
.dep-detail-page .detail-sec ul {
	margin-top: 40px;
	margin-bottom: 40px;
}
.dep-detail-page .detail-sec ul img {
	margin-bottom: 10px;
}
.dep-detail-page .video {
	width: 80%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.dep-detail-page .video iframe {
	border: none;
	width: 100%;
	height: 360px;
	margin-bottom: 20px;
}
.detail-sec .services-slide {
	margin: 50px 0;
}
.detail-sec .services-slide .sec-ser {
	background: #f7f7f7;
	padding: 0 15px;
	padding-bottom: 40px;
}
.detail-sec .downlod {
	font-weight: bold;
	color: #3dc5df;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.detail-sec .downlod i {
	margin-right: 10px;
}
.dep-detail-page .search input {
	display: inline-block;
	width: 100%;
	border: none;
	background: #f7f7f7;
	height: 40px;
	padding: 0 10px;
	font-size: 12px;
}
.dep-detail-page .search button {
	float: right;
	border: none;
	background: none;
	font-size: 18px;
	color: #aaaaaa;
	margin-right: 10px;
	margin-top: -33px;
}
.dep-detail-page .dapart {
}
/*=======================================================
			GALLERY
========================================================*/
.gallery-pages {
	padding: 80px 0;
}
.gallery-pages .filter {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
.gallery-pages .filter li {
	text-align: center;
	display: inline-block;
	padding: 0 10px;
}
.gallery-pages .filter li a {
	font-size: 16px;
	font-weight: normal;
	color: #777777;
	padding-bottom: 5px;
}
.gallery-pages .filter li a.active {
	color: #000;
	border-bottom: 3px solid #3dc5df;
}
.gallery-pages img {
	width: 100%;
}
.gallery-pages .gallery-item .item-over {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	border: 10px solid;
	border-color: transparent;
	opacity: 0;
	text-align: center;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.gallery-pages .gallery-item .item-over h5 {
	color: #333;
}
.gallery-pages .gallery-item .item-over hr {
	width: 30px;
	height: 2px;
	margin: 20px auto;
	border: none;
	background: #3dc5df;
}
.gallery-pages .gallery-item .item-over .item-in {
	background: rgba(255,255,255,0.9);
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	padding: 0 40px;
	padding-top: 13%;
}
.gallery-pages .gallery-item .item-over .item-in p {
	color: #333;
}
.gallery-pages .gallery-item li:hover .item-over {
	opacity: 1;
}
.gallery-pages .gallery-item li:hover .item-in {
}
.gallery-pages .item {
	margin-bottom: 30px;
}
.gallery-pages .gallery-item .item-over .item-in.pa-30 {
	padding-top: 30%;
}
.gallery-pages .gallery-item .item-over .item-in.pa-20 {
	padding-top: 20%;
}
.gallery-pages .gallery-item .item-over .item-in.pa-5 {
	padding-top: 5%;
}
.gallery-pages .gallery-item .item-over .item-in.pa-40 {
	padding-top: 40%;
}
.gallery-pages .gallery-item .col-sm-3 .item-over .item-in {
	padding: 10px 20px;
}
/*=======================================================
 			block_side-bar 
 =======================================================*/
.position {

}
.side-bar h5 {
	text-transform: uppercase !important;
}
.side-bar .depart-sec {
	padding-bottom: 0px;
}
.side-bar .dapart .row {
	margin-right: -5px;
	margin-left: -5px;
}
.side-bar .cate {
	display: inline-block;
	width: 100%;
}
.side-bar .cate li {
	float: left;
	width: 50%;
	padding-left: 15px;
	line-height: 44px;
	position: relative;
}
.side-bar .cate li a {
	width: 100%;
	display: inline-block;
}
.side-bar .cate li a:hover {
	color: #3dc5df;
}
.side-bar .cate li:before {
	content: "";
	background: #e3e3e3;
	height: 6px;
	width: 6px;
	left: 0px;
	display: inline-block;
	margin-right: 10px;
	float: left;
	position: absolute;
	margin-top: 20px;
}
.side-bar .dapart li {
	padding: 0 5px;
	margin-bottom: 0px;
}
.side-bar ul li .in-dert {
	padding: 15px;
	min-height: inherit;
	display: inline-block;
	width: 100%;
}
.side-bar ul li:hover .in-dert {
	background: #fff;
}
.side-bar .add-call .call {
	background: #3aa2b2;
	text-align: center;
	padding: 20px;
}
.side-bar .add-call p {
	color: #fff;
}
.side-bar .add-call h5 {
	color: #fff;
	margin: 0px;
	letter-spacing: 0px;
}

/*=======================================================
			PAGE_CONTACT FORM
========================================================*/
.contact-us {
	min-height: 550px;
	background: url(../images/contact-bg.jpg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}
.contact-us .text-container {
	margin-right: 10%;
	text-align: right;
}
.contact-us h3 {
	color: #1f626d;
	font-size: 20px;
	margin-top: 0;
}
.contact {
	padding: 100px 0;
}
.contact #contact_form {
	text-align: center;
}
.contact .error {
	border: 1px solid red;
}
.success-msg {
	background: #fff;
	border: 1px solid #ABD0A8;
	color: #589051;
	margin-bottom: 30px;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 11px 16px;
	border-radius: 4px;
	display: none;
}
.success-msg i {
	padding: 10px;
	border-radius: 50%;
	border: 1px solid #ABD0A8;
	margin-right: 10px;
}
#contact_form li {
	text-align: left;
	margin-bottom: 10px;
}
#contact_form li input {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	background: #f7f7f7;
	border: none;s
}
#contact_form li select {
	display: inline-block;
	width: 100%;
	height: 40px;
	padding: 0 10px;
	background: #f7f7f7;
	border: none;
}
#contact_form li .form-control {
	height: 40px;
	border: none;
	box-shadow: none;
	border-radius: 0px;
	background: #f7f7f7;
}
#contact_form li textarea {
	height: 140px !important;
}
#contact_form li .btn {
	text-transform: uppercase;
}
.contact-form .tittle {
	text-align: center;
}
.contact-form .tittle hr {
	width: 28px;
	height: 5px;
	margin: 15px auto;
	background: #448aff;
	border: none;
}
.contact-form .tittle p {
	text-transform: none;
	font-size: 16px;
}
.contact-form label {
	font-weight: normal;
	color: #696969;
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	margin: 0px;
	line-height: 26px;
}
.contact-form textarea {
	display: inline-block;
	width: 100%;
	position: relative;
	padding: 10px 20px;
}
.contact-form {
}
#map {
	height: 440px;
	margin-bottom: 0px;
}
.contact h4 {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.contact .timing {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.contact .timing p {
	text-transform: uppercase;
	line-height: 40px;
}
.contact .timing p span {
	margin-left: 10px;
	color: #757575;
	float: right;
}
/*=======================================================
			Page_Make Appointment
========================================================*/

.make-oppient {
	padding: 80px 0;
	background: url(../images/slider-images/patern-bg.png) repeat;
	padding-bottom: 0px;
}
.make-oppient .tittle {
	width: 100%;
	margin-top: 0px;
}
.make-oppient .tittle h2 {
	width: 100%;
	margin-top: 0px;
	text-align: left;
}
.make-oppient {
}
.make-oppient form {
	padding-bottom: 0px;
}
.make-oppient .appointment li {
	margin-bottom: 20px;
}
.make-oppient .appointment #btn_submit.btn {
	padding: 10px 40px;
}
.make-oppient .appointment ul li i {
	right: 25px;
}
/*=======================================================
			Page_ABOU US
========================================================*/
.time-line-sec {
	position: relative;
	z-index: 99;
	margin-top: 15%;
}
.about-us {
	min-height: 600px;
	background: url(../images/aboutpage-bg.jpeg) center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.about-us .text-container {
	width: 50%;
	text-align: left;
	margin-top:-2%;
}
.about-us h2 {
	font-size: 45px;
	font-weight: bold;
	margin-top: 90px;
}

.about-us h2 span {
	font-weight: bold;
	color: #3aa2b2;
}
.about-us h3 {
	color: #1f626d;
	font-size: 20px;
	margin-top: 0;
}
.about-us .time-line {
	margin-top: 50px;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.about-us .time-line li {
	margin-bottom: 20px;
}
.about-us .time-line li h3 {
	margin-top: 0px;
	position: relative;
	z-index: 2;
	font-weight: bold;
}
.about-us .time-line li div {
	position: relative;
}
.about-us .time-line li h3:before {
}
.about-us .about-bg {
}
.about-us .time-line:before {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #fff;
	content: "";
}

.services-appoint{ 
	margin-top: 10%;
	padding: 80px 0;
	text-align: center;
	background-image:url(../images/preventative_bg.jpg) !important;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.services-about {
	padding: 80px 0;
}
.services-slide {
	text-align: center;
}
.services-slide h6 {
	font-weight: bold;
	margin: 15px 0;
	margin-top: 30px;
	text-transform: uppercase;
}
.sec-ser i {
	margin-top: 50px;
	font-size: 50px;
	margin-bottom: 20px;
	color: #3dc5df;
}
.services-slide .owl-controls {
	display: none;
}
.time-line-2.time-line-sec:before {
	display: none;
}
.about-us .time-line-2 h2 {
	width: 100%;
}
.ser-style-2 .owl-controls {
	display: block;
}
.ser-style-2 .tittle-2 {
	margin-bottom: 30px;
}
.ser-style-2 .owl-dots {
	margin-top: 30px;
}
.ser-style-2 li {
	text-align: center;
	margin-bottom: 30px;
}
.ser-style-2 li h6 {
	text-transform: uppercase;
}

/*=======================================================
			BLOG
========================================================*/
.blog {
	padding: 80px 0;
}
.blog .text-section a {
	font-size: 18px;
	font-weight: bold;
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.blog li a:hover {
	color: #3dc5df;
}
.blog li hr {
	width: 31px;
	height: 3px;
	border: none;
	background: #c4edf5;
	margin: 20px auto;
}
.blog li span {
	font-size: 14px;
	margin-top: 10px;
	display: inline-block;
	color: #b1b1b1;
}
.blog .text-section {
	text-align: center;
}
.blog ul {
	margin-bottom: 10px;
}
.blog li span strong {
	color: #333333;
	font-weight: normal;
}
.text-section {
	min-height: 260px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.post-img.right:before {
	content: '\f0d9';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 80px;
	top: 28%;
	right: -5px;
	color: #fff;
	z-index: 8;
}
.post-img.up:before {
	content: '\f0d8';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 80px;
	bottom: -43px;
	width: 100%;
	left: 0px;
	text-align: center;
	right: -5px;
	color: #fff;
	z-index: 8;
}
.post-img.down:before {
	content: '\f0d7';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 80px;
	top: -50px;
	width: 100%;
	left: 0px;
	text-align: center;
	right: -5px;
	color: #fff;
	z-index: 8;
}
.post-img {
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
	background: #3dc5df;
}
.post-img img {
	display: inline-block;
}
.post-img i {
}
.post-section article .post-img img {
	-moz-transition: -moz-transform 0.4s ease-in;
	-webkit-transition: -webkit-transform 0.4s ease-in;
	-o-transition: -o-transform 0.4s ease-in;
}
.blog li:hover .post-img img {
	-moz-transform: scale(1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 0.6;
}
.blog-pages li a {
	letter-spacing: 1px;
}
.blog-pages .text-section {
	padding: 0 40px;
}
.blog-pages a.btn {
	width: auto;
	font-size: 14px;
	height: 40px;
	line-height: 38px;
	width: auto;
	padding: 0px 30px;
	color: #696969;
	letter-spacing: 0px;
	text-transform: uppercase;
	min-width: inherit;
}
.blog-pages a.btn:hover {
	color: #fff;
}
.blog-pages .post-img {
	margin-bottom: 0px;
}
.blog-pages li {
	margin-bottom: 50px;
}
.single-post h4 {
	text-transform: uppercase;
	font-weight: bold;
}
.single-post .detail-sec span.dat-sec {
	margin-bottom: 20px;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	color: #b1b1b1;
}
.single-post .detail-sec span.dat-sec strong {
	font-weight: normal;
	color: #333333;
}
.single-post .detail-sec ul li:nth-child(2) {
	text-align: left;
}
.single-post .detail-sec h5 {
	text-transform: none;
	margin-top: 20px;
	letter-spacing: 0px;
}
.single-post blockquote {
	border-left-color: #3dc5df;
	margin: 30px 0;
	margin-left: 50px;
}
.single-post .stare-ev {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	background: #f7f7f7;
	padding: 10px 20px;
}
.single-post .stare-ev ul h5 {
	margin-bottom: 10px;
}
.single-post .stare-ev ul {
	margin-bottom: 0px !important;
}
.single-post .stare-ev .tags {
	float: left;
}
.single-post .stare-ev .tags h5 {
	margin-top: 10px;
}
.single-post .stare-ev .tags li {
	display: inline-block;
}
.single-post .stare-ev .blog-post {
	margin-bottom: 0px;
	border: none;
	padding-bottom: 20px;
}
.single-post .stare-ev .pager {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 20px;
}
.single-post .stare-ev .tags li a {
	margin-left: 5px;
}
.single-post .social_icons {
	margin-top: 0px;
	float: right;
}
.single-post .social_icons li {
	background: #f7f7f7;
	border-radius: 50%;
	margin-right: 2px;
	margin-top: 0px;
	float: left;
	background: #f7f7f7;
}
.single-post .social_icons li a {
	height: 30px;
	width: 30px;
	background: #f7f7f7;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
}
/*=======================================================
			breadcrumb
========================================================*/
.breadcrumb {
	background: #fff;
	margin-top: 30px;
	display: inline-block;
	padding: 8px 30px;
}
.breadcrumb a {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: #3aa2b2;
	font-weight: bold;
}
.breadcrumb>.active {
	font-weight: bold;
	color: #3aa2b2;
}
.breadcrumb a:hover {
	color: #1c626d;
}
.breadcrumb>li+li:before {
	color: #3aa2b2;
}
.breadcrumb li {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
/*=======================================================
			HOME_NEW PATIENT
========================================================*/
.intro {
	margin-top: 10%;
	padding: 80px 0;
	text-align: center;
	background-image:url(../images/newpatient.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
.intro .intro-in h2 {
	margin-bottom: 10%;
}
.intro .intro-in {
	width: 70%;
	margin: 0 auto;
	padding: 2%;
	background-color: rgba(255,255,255,0.8);
}
.intro .intro-in ul {
	margin-top: -5%;
}
.intro .intro-in li {
	text-align: center;
	width: 100%;
	margin: 1% 0;
}
.intro .intro-in li i {
	color: #3aa2b2;
	font-size: 20px;
	margin-right: 10px;
}
.intro .intro-in .btn {
	margin: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
}
/*=======================================================
			block_prople say's
========================================================*/
#prople-says {
	background: url(../images/testimonial_bg.jpeg) center left no-repeat;
	background-size: cover;
}
#prople-says .overlay {
	padding: 80px 0;
	background: rgba(58, 162, 178, 0.7);
}
#prople-says h3 {
	color: #fff;
	text-align: center;
}
#prople-says .owl-nav div {
	background: none;
	color: #fff;
}
#prople-says .testi {
	margin-top: 0px;
	text-align: center;
	padding: 0px;
	width: 70%;
	margin: 0 auto;
}
#prople-says .testi h5 {
	padding-bottom: 5px;
	display: inline-block;
	font-weight: 800;
	font-size: 16px;
	color: #fff;
	margin-top: 20px;
	letter-spacing: 0px;
	text-transform: uppercase;
	margin-bottom: 0px;
}
#prople-says .testi .item span {
	color: #fff;
	display: inline-block;
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
}
#prople-says .qou {
	margin-bottom: 50px;
}
.qou {
	text-align: center;
	color: #fff;
	margin-bottom: 50px;
}
.qou i {
	font-size: 26px;
	margin: 0 5px;
}
#prople-says .testi p {
	color: rgba(255,255,255,0.9);
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	font-weight: 500;
}
#prople-says .avatr {
	display: inline-block;
	height: 60px;
	width: 60px;
	float: left;
	overflow: hidden;
}
#prople-says .testi-slide .avatar {
	width: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin-top: 10px;
	margin-bottom: 0px;
}
#prople-says .testi-slide .avatar img {
	width: 91px;
	height: 91px;
	border: 2px solid rgba(255,255,255,0.6);
	padding: 4px;
	border-radius: 50%;
	display: inline-block;
}
#prople-says .testi-slide .owl-dots {
	display: none !important;
}
#prople-says .testi-slide .owl-nav {
	display: inline-block;
	width: 100%;
	margin-top: 40px;
}
#prople-says .testi-slide .owl-nav div {
	display: inline-block;
	margin: 0 5px;
}
#prople-says .testi-slide .owl-nav i {
	border: 1px solid #dedede;
	height: 40px;
	width: 40px;
	font-size: 20px;
	text-align: center;
	line-height: 38px;
}
#prople-says .tittle-2 {
	margin-bottom: 30px;
}
/*=======================================================
			block_Contact Info
========================================================*/
.contact-info {
	padding: 70px 0;
	background: #f7f7f7;
	text-align: center;
}
.contact-info ul {
	margin-bottom: 0px;
}
.contact-info i {
	font-size: 32px;
	color: 	#3aa2b2;
}
.contact-info p {
	margin-bottom: 0px;
}
.contact-info h5 {
	font-weight: bold;
	color: #666666;
}

/*=======================================================
			ABOUT US_OTHER TEAM
========================================================*/
#team {
	padding: 50px 0;
	background: #f5f5f5;
}
.wrap-flex {
	width: 100%;
	display: flex;
	justify-content: center;
}
#team .team {
	text-align: center;
	margin-top: 0px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#team ul {
	width: 50%;
}

#team li {
	overflow: hidden;
	position: relative;
}
#team li .team-detail {
	background: #fff;
	border: 1px solid #ececec;
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	position: relative;
	bottom: 0px;
	left: 0px;
}
#team li .team-detail p {
	text-transform: uppercase;
	font-size: 12px;
	color: #666666;
	font-weight: 600;
}
#team li .team-detail h6 {
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#team .doctor-list .owl-dots {
	display: none !important;
}
#team img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
/*=======================================================
			ABOUT US_DOCTORS
========================================================*/
.doctor-team {
	padding: 0;
	background: #f7f7f7;
	padding-bottom: 0px;
	padding-top: 5%;
}
.doctor-team .tittle {
	text-align: center;
}
.doctor-team .tittle h2 {
	text-align: center;
	width: 100;
	margin: 0 auto;
}
.doctor-team li img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.doctor-box {
	display: flex;
	justify-content: center;
}
.doctor-in {
	background: #fff;
	padding: 33px 60px;
	position: relative;
	height: 100%;
}
.doctor-in h4 {
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px;
	margin-bottom: 10px;
}
.doctor-in span {
	color: #3dc5df;
}
.personal-info {
	margin-top: 20px;
}
.doctor-team .personal-info p {
	margin: 0px;
	line-height: 30px;
}
.doctor-team ul {
	margin-bottom: 0px;
}
.personal-info span {
	font-weight: bold;
	color: #333333;
	width: 120px;
	display: inline-block;
}

.doctor-team .doctor-in.left:before {
	content: '\f0d9';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 80px;
	left: -20px;
	top: -10px;
	color: #fff;
	z-index: 8;
}

.doctor-team .doctor-in.right:before {
	content: '\f0da';
	font-family: 'FontAwesome';
	position: absolute;
	font-size: 80px;
	right: -20px;
	top: -10px;
	color: #fff;
	z-index: 8;
}
.doctor-team .container-fluid {
	max-width: 1600px;
}

/*=======================================================
			COMING SOON
========================================================*/
.soon {
	width: 100%;
	text-align: center;
	background:url(../images/slider-images/bg-3.jpg) center center no-repeat;
	background-size:cover;
}
.soon h3{
	color:#fff;
}
.soon .tittle hr:before{
	color: #fff;
}
.soon p{
	color:#fff;
}
.soon .overlay{
	padding-top: 80px;

}
.soon .social_icons {
	margin-top: 50px;
	margin-bottom: 100px;
}
.soon .social_icons li {
	margin: 0 30px;
}
.soon .social_icons a {
	color: #333 !important;
	font-size: 26px;
}
.subcribe {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 100px;
}
.subcribe input {
	display: inline-block;
	width: 550px;
	height: 55px;
	padding: 0 20px;
}
.subcribe button {
	width: 190px;
	height: 55px;
	margin: 0px;
	font-weight: 500;
}

/*=======================================================
			404 PAGES
========================================================*/
.error-page {
	padding: 80px 0;
}
.error-page .not-found {
	font-size: 54px;
	color: #3dc5df;
	display: inline-block;
	width: 100%;
	font-weight: bolder;
	text-transform: uppercase;
}
.error-page .head-404 {
	font-size: 208px;
	color: #3dc5df;
	display: inline-block;
	width: 100%;
	font-weight: bolder;
	text-transform: uppercase;
	margin-top: 0%;
}
.error-page h4 {
	text-transform: none;
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	width: 80%;
	margin: 0 auto;
}
.error-page h4 a {
	font-size: 18px;
	color: #3dc5df;
	font-weight: bold;
}
/*=======================================================
			Footer
========================================================*/
footer {
	background: rgb(58,162,178);
	position: relative;
	z-index: 99;
}
footer h5 {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	margin: 0px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

footer h5 img {
	width: 100%;
	height: auto;
}
footer .latest-tweet {
	margin-top: 80px;
}
footer .latest-tweet span {
	font-size: 12px;
}
footer p {
	color: #fff;
}
footer a {
	color: #fff;
	margin: 10px;
}
footer ul li {
	margin-bottom: 20px;
}
footer span {
	color: #fff;
}
footer .date {
	display: inline-block;
	width: 100%;
	text-align: right;
	color: #fff;
}
footer .small-info {
	text-align: center;
	border: 1px solid rgba(255,255,255,0.1);
	padding: 50px 55px;
	border-bottom: none;
	border-top: none;
}
footer .small-info .footersns {
	text-align: center;
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	font-size: 30px;
	color: #fff;
}
footer .timing {
	margin-top: 40px;
}
footer .timing p span {
	margin-left: 10px;
	color: #fff;
}
.footermenu {
	margin-top: 100px;
}
.footermenu ul {
	text-align: center;
}
.footermenu ul li {
	font-size: 1.5rem;
}
.rights {
	background: rgb(58,162,178);
	text-align: center;
	padding: 20px 0;
}
.rights p {
	margin: 0px;
}
/*=======================================================
			Slider nav style
========================================================*/
.owl-dots {
}
.owl-dots .owl-dot {
	display: inline-block;
}
.owl-dots .owl-dot span {
	border: 3px solid #e1e1e1;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin: 0 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.owl-dots .owl-dot.active span {
	background: #3dc5df;
	width: 60px;
	border-color: #3dc5df;
}
.owl-nav div {
	height: 60px;
	width: 60px;
	display: inline-block;
	position: absolute;
	background: #fff;
	color: #696969;
	top: 40%;
	text-align: center;
	line-height: 60px;
	font-size: 32px;
}
.owl-nav div:hover {
	color: #3dc5df;
}
.owl-prev {
	left: -30px;
}
.owl-next {
	right: -30px;
}
/*=======================================================
			SOCIAL ICONS
========================================================*/
.social_icons {
	position: relative;
	z-index: 1;
}
.social_icons ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.social_icons li {
	display: inline-block;
	list-style: none;
	float: left;
}
.social_icons a {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0px;
	font-size: 14px;
	line-height: 40px;
	text-decoration: none;
	border-radius: 50%;
	text-align: center;
	color: #696969;
	border: 1px solid #f5f5f5;
	margin-right: 5px;
}
.social_icons a:hover i {
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-webkit-transition: 0.4s ease-in-out;
	color: #fff;
}
